* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;

}

nav {
    height: 100%;
    padding-top: 20px;
    padding-right: 20px;
    background-color: #fff;

}

#nav-div {
    float: right;
    align-self: center;

}


.nav-menu {
    margin: 5px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-size: 17px;
    font-weight: bold;
}


.nav-button {
    text-decoration: none;
    margin: 5px;
    padding: 7px 25px;
    background-color: rgb(143, 201, 56);
    color: honeydew;
    border: none;
    font-size: 15px;
    font-weight: bold;

}

#nav-icon {}

.nav-pic {

    height: 35px;
    width: 35px;
    margin-left: 15px;



}

#main-img-1 {
    height: 100%;

}

.imag-backgound {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 92vh;
    max-height: 92vh;
    object-fit: cover;
    opacity: .5;
}

#para-text {
    position: absolute;
    color: black;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.text-one {
    position: relative;
    margin-bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
}

.text-two {
    position: relative;
    margin-bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);

}


#container-box {
    position: relative;
    display: flex;
    height: auto;
    width: auto;
}

.container-image-1 {

    height: 150px;
    width: 150px;
    transform: translate(50%, 40%);
}

.container-1 {

    overflow: none;
    font-size: 20px;
    width: 25%;
    height: 80%;
    background-color: rgb(54, 185, 142);
}

.container-2 {
    overflow: hidden;
    width: 25%;
    height: 80%;
    background-color: rgb(71, 121, 77);

}

.container-3 {
    overflow: hidden;
    width: 25%;
    height: 80%;
    background-color: rgb(163, 131, 79);
}


.container-4 {
    overflow: hidden;
    width: 25%;
    height: 80%;
    background-color: rgb(199, 136, 173);
}

.container-text-1 {
    font-size: 20px;
    height: 250px;
    width: 250 px;
    transform: translate(0%, -6%);
    display: inline-block;
    display: flex;
    align-items: stretch;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 10px;

}

.container-text-2 {
    font-size: 20px;
    height: 250px;
    width: 250 px;
    transform: translate(0%, -6%);
    display: inline-block;
    display: flex;
    align-items: stretch;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 10px;
}

.container-text-3 {
    font-size: 20px;
    height: 250px;
    width: 250 px;
    transform: translate(0%, -6%);
    display: inline-block;
    display: flex;
    align-items: stretch;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 10px;
}

.container-text-4 {
    font-size: 20px;
    height: 250px;
    width: 250 px;
    transform: translate(0%, -6%);
    display: inline-block;
    display: flex;
    align-items: stretch;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 10px;
}


#vegan-page {
    padding-top: 100px;
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
}

.vegan-p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.vegan-text-1 {
    font-size: 25px;
    color: green;
}

.vegan-text-2 {

    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.vegan-text-3 {
    font-family: sans-serif;
    opacity: .5;
}

.vegan-camera-icon{
    margin-left:90px;
    margin-right: 60px;
    border-radius:50%;
    height:150px;
    width:150px;
    background-size: cover;
    background: rgba(125, 2, 150, 0.5);
      
    
}


#vegan-main-div{
    padding-bottom: 120px;
    margin-top:80px;
    height:auto;
    width:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


.vegan-main-div-p{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: bold;
}


.vegan-main-div-span{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: bold;
}



