body {
    margin: 0;
    padding: 0;
}


nav {
    height: 100%;
    margin-top: 20px;
    margin-right: 20px;

}

#nav-div {
    float: right;

}

.nav-menu {
    margin: 5px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-size: 17px;
    font-weight: bold;
}

.nav-button {
    text-decoration: none;
    margin: 5px;
    padding: 7px 25px;
    background-color: rgb(143, 201, 56);
    color: honeydew;
    border: none;
    font-size: 15px;
    font-weight: bold;

}

#nav-icon {

    
}

.nav-pic {
    
    height: 35px;
    width: 35px;
    margin-left: 15px;
   

    
}

#main-img-1 {
    height: 100%;

}

.imag-backgound {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 92vh;
    max-height: 92vh;
    object-fit: cover;
    opacity: .5;
}

#para-text{
    position: absolute;
    color: black;
  left: 50%;
   top: 60%;
   transform: translate(-50% , -50% );
}

.text-one{
    position: relative;
    margin-bottom: 30px;
    left: 50%;
    transform: translate( -50%,-50% );
    font-size: 35px;
}

.text-two{
    position: relative;
    margin-bottom: 30px;
    left: 50%;
    transform: translate( -50%, -50% );
    
}